In [1]:
my_dict = {'key1': 'value1', 'key2' : 'value2'}

In [2]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [3]:
my_dict['key2']

'value2'

In [4]:
my_dict = {'roll': 123, 'marks': [12,12,23,21], 'subject': ['math', 'sci', 'hindi', 'eng']}

['math', 'sci', 'hindi', 'eng']

In [6]:
my_dict['marks']

[12, 12, 23, 21]

In [7]:
my_dict["marks"][3]

21

In [8]:
my_dict['marks'][2]

23

In [9]:
my_dict['subject'][2]

'hindi'

In [10]:
my_dict['subject'][2].upper()

'HINDI'

In [14]:
my_dict['subject'][1].upper()

'SCI'

In [16]:
my_dict['marks']

[12, 12, 23, 21]

In [17]:
my_dict['marks'][0] = my_dict['marks'][0] +30

In [18]:
my_dict['marks']

[42, 12, 23, 21]

In [19]:
my_dict['marks'] + 30

TypeError: can only concatenate list (not "int") to list

In [20]:
my_dict['marks']

[42, 12, 23, 21]

In [21]:
my_dict['marks'][1]+=20

In [23]:
my_dict

{'roll': 123,
 'marks': [42, 32, 23, 21],
 'subject': ['math', 'sci', 'hindi', 'eng']}

In [24]:
my_dict['marks']

[42, 32, 23, 21]

In [25]:
my_dict['marks'][0]-=2

In [26]:
my_dict['marks']

[40, 32, 23, 21]

In [28]:
my_dict['year'] = '3rd'

In [29]:
my_dict

{'roll': 123,
 'marks': [40, 32, 23, 21],
 'subject': ['math', 'sci', 'hindi', 'eng'],
 'year': '3rd'}

In [30]:
my_dict.update({'roll' : 100})

In [31]:
my_dict

{'roll': 100,
 'marks': [40, 32, 23, 21],
 'subject': ['math', 'sci', 'hindi', 'eng'],
 'year': '3rd'}

In [33]:
my_dict.keys()

dict_keys(['roll', 'marks', 'subject', 'year'])

In [36]:
my_dict.values()

dict_values([100, [40, 32, 23, 21], ['math', 'sci', 'hindi', 'eng'], '3rd'])

In [38]:
my_dict.items()

dict_items([('roll', 100), ('marks', [40, 32, 23, 21]), ('subject', ['math', 'sci', 'hindi', 'eng']), ('year', '3rd')])

In [43]:
i=21

if i>20:
    print('it is greaterthan 20')
    
elif i<20:
    print('it is lessthan 20')
    
else:
    print('it is different')

it is greaterthan 20

In [46]:
p1 = 100

p2 = 250

if(p1 +p2) >=500:
    print('your item is ready for free shiping')
    
else:
    extra = 500 - (p1 +p2)
    print('please add', extra, 'Rs worth for free shipping')

please add 150 Rs worth for free shipping

In [49]:
marks = 30

if marks>=60:
    if marks>70:
        print('distinction')
        
    else:
        print('first div')
        
elif 50<marks<60:
    print('second div')
    
elif marks>=35:
    print('third div')
    
else:
    print('fail')

fail

In [50]:
print(range(10))

range(0, 10)

In [51]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
roll = list(range(1,20))

In [53]:
roll

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [56]:
roll = list(range(1,20, 4))

In [57]:
roll

[1, 5, 9, 13, 17]

In [58]:
roll = list(range(1700,-1,-100))

In [59]:
roll

[1700,
 1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200,
 100,
 0]

In [60]:
salary = [20,23,34,456,65,43,32,23,43,33,44,22]

for val in salary:
    if val>40:
        print(val)

456
65
43
43
44

In [64]:
marks = [45,44,56,65,34,45,65,77,88,76,56,60]

for val in marks:
    if val>60:
        if val>70:
            print(val,'distinction')
            
        else:
            print(val,'first Class')
            
    elif 50<val<60:
        print(val,'second div')
        
    elif val>35:
        print(val,'pass')
        
    else:
        print(val,'fail')

45 pass
44 pass
56 second div
65 first Class
34 fail
45 pass
65 first Class
77 distinction
88 distinction
76 distinction
56 second div
60 pass

In [65]:
step_size = list(range(0,40,2))
step_size

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [68]:
step_size = list(range(1600, -1, -50))

In [69]:
step_size

[1600,
 1550,
 1500,
 1450,
 1400,
 1350,
 1300,
 1250,
 1200,
 1150,
 1100,
 1050,
 1000,
 950,
 900,
 850,
 800,
 750,
 700,
 650,
 600,
 550,
 500,
 450,
 400,
 350,
 300,
 250,
 200,
 150,
 100,
 50,
 0]

In [70]:
location = ['rke','har', 'npoida', 'chennai']

for city in location:
    print(city)

rke
har
npoida
chennai

In [73]:
salary = [3000.44000,43000,42000,32000,43000,23000]

for val in salary:
    if val>23000:
        print(val)

43000
42000
32000
43000

In [74]:
marks = [43,44,55,66,77,88,99,98,76,56,74,54,65,64,66,60]

for val in marks:
    if val>=60:
        if val>70:
            print(val, 'distinction')
            
        else:
            print(val, "first div")
            
    elif 50<val<60:
        print(val,'second div')
        
    elif val >=35:
        print(val, 'pass')
        
    else:
        print(val, 'fail')

43 pass
44 pass
55 second div
66 first div
77 distinction
88 distinction
99 distinction
98 distinction
76 distinction
56 second div
74 distinction
54 second div
65 first div
64 first div
66 first div
60 first div

In [75]:
salary = [33000,3300,43000,3400,2300,33000,2300,6500,65000]

for val in salary:
    if val>=33000:
        print(val)

33000
43000
33000
65000

In [78]:
for num in range(3,7):
    print('multiplication table for-', num)
    for i in range(1,11):
        print(num * i)
        if i ==10:
            print('\n')
            
else:
    print('*' *30)
    print('end')
    print('*' *30)

multiplication table for- 3
3
6
9
12
15
18
21
24
27
30


multiplication table for- 4
4
8
12
16
20
24
28
32
36
40


multiplication table for- 5
5
10
15
20
25
30
35
40
45
50


multiplication table for- 6
6
12
18
24
30
36
42
48
54
60


******************************
end
******************************

In [80]:
i = 0

while i < 10:
    i = i+1
    print(i, 'deta Trained')

1 deta Trained
2 deta Trained
3 deta Trained
4 deta Trained
5 deta Trained
6 deta Trained
7 deta Trained
8 deta Trained
9 deta Trained
10 deta Trained

In [81]:
i = 0

while i <20:
    i = i + 1
    print(i, 'apple')

1 apple
2 apple
3 apple
4 apple
5 apple
6 apple
7 apple
8 apple
9 apple
10 apple
11 apple
12 apple
13 apple
14 apple
15 apple
16 apple
17 apple
18 apple
19 apple
20 apple

In [83]:
import time
result = time.localtime()
print(result)

time.struct_time(tm_year=2022, tm_mon=12, tm_mday=5, tm_hour=23, tm_min=39, tm_sec=2, tm_wday=0, tm_yday=339, tm_isdst=0)

In [86]:
while True:
    result = time.localtime()
    if result.tm_hour ==23 and result.tm_min ==45:
        print('wake up')
        break

wake up

In [87]:
students = ['ram', 'shyam', 'sumit', 'amit', 'rohit', 'niraj']

In [88]:
for name in students:
    print(name)

ram
shyam
sumit
amit
rohit
niraj

In [90]:
for name in enumerate(students):
    print(name)

(0, 'ram')
(1, 'shyam')
(2, 'sumit')
(3, 'amit')
(4, 'rohit')
(5, 'niraj')

In [91]:
for name in enumerate(students,1):
    print(name)

(1, 'ram')
(2, 'shyam')
(3, 'sumit')
(4, 'amit')
(5, 'rohit')
(6, 'niraj')

In [92]:
for name in enumerate(students,3):
    print(name)

(3, 'ram')
(4, 'shyam')
(5, 'sumit')
(6, 'amit')
(7, 'rohit')
(8, 'niraj')

In [93]:
for name in enumerate(students,100):
    print(name)

(100, 'ram')
(101, 'shyam')
(102, 'sumit')
(103, 'amit')
(104, 'rohit')
(105, 'niraj')

In [94]:
students = ['ram', 'shyam', 'sumit', 'amit', 'rohit', 'niraj']

marks  = [44,54,66,77,76,56]

In [101]:
details = list(zip(students,marks))

In [96]:
details

[('ram', 44),
 ('shyam', 54),
 ('sumit', 66),
 ('amit', 77),
 ('rohit', 76),
 ('niraj', 56)]

In [99]:
students = ['ram', 'shyam', 'sumit', 'amit', 'rohit', 'niraj']

In [102]:
for val in students:
    if val == 'rohit':
        break
    print(val)

ram
shyam
sumit
amit

In [105]:
salary = [33000,3300,43000,3400,2300,33000,2300,6500,65000]
for val in salary:
    if val> 43000:
        continue
    print(val)

33000
3300
43000
3400
2300
33000
2300
6500

In [106]:
salary = [33000,3300,43000,3400,2300,33000,2300,6500,65000]

for val in salary:
    if val in salary:
        if val> 2300:
            continue
        print(val)

2300
2300